@charset "utf-8";
/* CSS Document */
body{
    background-color: #F1F1F1;
    width: 1000px;
    height: 100px;
   overflow: hidden;
}

header{background: #44D7D4}

h1{
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #383838
}

.box{
    border: solid 1px #383838;
    background: #FFFFFF;
    width: 400px;        /* 横幅 */
    height: 270px;        /* 高さ */
    margin-left: 300px;  /* マイナス「横幅÷2」 */
    margin-top: 150px;  /* マイナス「高さ÷2」 */
    overflow: auto;  /* 内容がはみ出る場合の表示方法 */
}
.quizbox {
	position: relative;
    margin-top: 26px;
    margin-right: 97.4px;
    margin-left: 96.4px;
    margin-bottom: 10px;
    padding: 1px;
    font-weight: bold;
    border: 1px solid #383838;
}
.quizbox p {
    text-align: center;
	margin: 1px;
	
}


input{
	width: 205px;
	height: 30px;
	border: solid 1px #383838;
}

p{
    text-align: center;
    margin-top: 31px;
    margin-right: 31px;
    margin-bottom: 31px;
}


.checkButton1{
    text-align: center;
    background: #46D0A0;
    box-shadow: 0px 3px #224E44;
    margin-top: -15px;
	left: 50%;
    margin-right: 50%;
    padding-top: 0px;
    padding-right: 0px;
    font-weight: bold;
    border: solid 1px #383838;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px #224E44;
}

.checkButton1 p {
  text-align: center;
  margin: 1px;
}

.checkButton1 p :active{
  text-align: center;
  margin: 1px;
  box-shadow: none;
  position: relative;
  top: 3px;
}
